.breed-select {
  max-width: 400px;
  margin: 20px;
}

.is-hidden {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  border: 1px solid #0d161b;
}
.cat-info {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 40px;
}
.box-img {
  display: flex;
  align-items: center;
}
.box {
  width: 400px;
}

.loader {
  margin-top: 20px;
  margin-left: 20px;
  width: 32px;
  height: 32px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
